{{yield}}

<p>
  <form {{action "saveRental" on="submit"}}>
    {{input data-test-name value=name placeholder="Rental Name"}} <div class="form-error">{{validationErrors.name}}</div>
    <br/>
    {{input data-test-daily-rate value=daily_rate placeholder="Daily Rate"}} <div class="form-error">{{validationErrors.daily_rate}}</div>
    <p></p>
    <span><button data-test-save-rental class="app-button" type="submit">Submit</button></span>
  </form>
</p>
