{{outlet}}
<div class="jumbo">
  <h3>Available Rentals</h3>

  {{#each model as |rental|}}
  <article class="listing">
    <h3>{{rental.name}}</h3>
    <div class="detail daily_rate">
      <span>Daily Rate: </span>${{rental.daily_rate}}
    </div>
    <div>
    <span>
    {{#if rental.isTestRental}}
      <button data-test-rental-id=rental.id class="book-it" {{action 'bookRental' rental}}>Book It!</button>
    {{else}}
      <button class="book-it" {{action 'bookRental' rental}}>Book It!</button>
    {{/if}}
    </span>
    </div>
  </article>
  <hr/>
  {{/each}}

</div>


