{{outlet}}
<div class="jumbo">
  <h3>{{model.name}}</h3>
    <div class="detail daily_rate">
      <span>Daily Rate:</span> ${{model.daily_rate}}
    </div>
    <p></p>
    <p>
      <form {{action "bookRental" model on="submit"}}>
        {{input value=email placeholder="User Email"}}
        <br/><br/>
        <p>
        {{bootstrap-datepicker value=start_at placeholder="Start At" class="input-short" format="yyyy-mm-dd"}}
        <br/>
        {{bootstrap-datepicker value=end_at placeholder="End At" class="input-short" format="yyyy-mm-dd" focus-in=(action "updatePrice")}}
        </p> 
        <p></p>
        <button class="app-button">Make Reservation</button>
        <p></p>
        <div id="price"></div>      
      </form>
    </p>

</div>


